<!Doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>투표페이지</title>
</head>
<body>
  <h2>실습시간 투표 페이지</h2>
  <form action="/result">
    원하는 실습시간을 고르세요
    1시간 <input type="radio" name="time" value="1" />
    2시간 <input type="radio" name="time" value="2" />
    3시간 <input type="radio" name="time" value="3" />
    4시간 <input type="radio" name="time" value="4" />
    <input type="submit" value="선택"/>
  </form>
</body>
