<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>게시글완성!</title>
  <style>
    input, textarea {margin-top: 10px;}
  </style>
</head>
<body>
  <h2>글이 써졌습니다.</h2>
  <p>제목: <%= @title %></p>
  <p>내용: <%= @content %></p>
  <a href="/">홈으로 가기</a>
  <a href="/posts">글 목록 보기</a>
</body>
</html>
