<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>게시판</title>
  <style>
    input, textarea {margin-top: 10px;}
  </style>
</head>
<body>
  <h2>잡담방</h2>
  <form action="/complete">
    제목: <input name="title" type="text" placeholder="제목을 입력해주세요" /><br>
    내용: <textarea name="content"></textarea><br />
    <input type="submit" value="확인" />
  </form>
</body>
</html>
