<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>게시글완성!</title>
  <style>
    input, textarea {margin-top: 10px;}
  </style>
</head>
<body>
  <form action="/usercomplete">
  <h2>회원가입하기</h2>
  이메일: <input type = "email" name ="email" />
  비밀번호: <input type = "password" name = "pwd" />
  비밀번호: <input type = "password" name = "pwd2" />
  <input type="submit" value="확인"/>
  <a href="/">홈으로 가기</a>
  <a href="/signup">회원가입 또 하기</a>
</form>
</body>
</html>
