<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>게시글완성!</title>
  <style>
    input, textarea {margin-top: 10px;}
  </style>
</head>
<body>
  <h2>회원가입이 정상적으로 되었습니다.</h2>
  <p>아이디: <%= @email %></p>
  <p>비밀번호: <%= @pwd %></p>
  <a href="/">홈으로 가기</a>
  <a href="/signup">회원가입 또 하기</a>
</body>
</html>
