<!Doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>회원정보입력</title>
  </head>
  <body>
    <form action="/complete">
      <h1>email을 입력하세요</h1>
      <input type="email" name="email"  />
      <h1>암호를 입력하세요</h1>
      <input type="password" name="pwd"  />
      <input type="submit" value="입력완료"  />
    </form>
  </body>
</html>
